<<<<<<< HEAD
<h1>Portfolio</h1>


<% @portfolio_items.each do |portfolio_item| %>
	<p><%= portfolio_item.title %></p>
	<p><%= portfolio_item.subtitle %></p>
	<p><%= portfolio_item.body %></p>
	<p><%= image_tag portfolio_item.thumb_image %></p>
=======
<h1>Portfolio Items</h1>
<% @portfolio_items.each do |portfolio_item|  %>
<p> <%= portfolio_item.title %> </p>
<p> <%= portfolio_item.subtitle %></p>
<p> <%= portfolio_item.body %></p>
<%= image_tag portfolio_item.thumb_image %>
>>>>>>> ad59247e4a19c5e61463949063b28c3b16be2134
<% end %>